node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
logs
*.log

# Session & Security
baileys_auth_info/
baileys_auth_backup/
.bolt/
coverage/

